/* style.css */

/* Definindo estilo geral para o layout */
.vbox {
    padding: 20px;
    background-color: #f0f0f0;
}

/* Estilizando os botões */
.button {
    -fx-background-color: #4CAF50; /* Cor verde */
    -fx-text-fill: white; /* Texto branco */
    -fx-padding: 10px 20px; /* Padding do botão */
    -fx-font-size: 14px; /* Tamanho da fonte */
    -fx-alignment: center; /* Centralizando o texto */
}

/* Estilizando a ComboBox */
.combo-box {
    -fx-background-color: white;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
}

/* Estilizando os CheckBoxes */
.check-box {
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

/* Estilizando a tabela */
.table-view {
    -fx-font-size: 14px;
}
